repos:
- repo: https://github.com/kynan/nbstripout
  rev: 0.8.2
  hooks:
    - id: nbstripout

- repo: local
  hooks:
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      files: \.py$

    - id: black
      name: black
      entry: poetry run black
      language: system
      files: \.py$

    - id: jupyter-black
      name: jupyter-black
      entry: poetry run black
      language: system
      files: \.ipynb$

    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      files: \.py$
